In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [223]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
74,tt1014763,50000000,3324330,Child 44,Tom Hardy|Gary Oldman|Noomi Rapace|Joel Kinnam...,Daniel Espinosa,How do you find a killer who doesnâ€™t exist?,"Set in Stalin-era Soviet Union, a disgraced MG...",137,Crime|Thriller,Summit Entertainment|Scott Free Productions|Wo...,3/15/2015,5.9,2015
859,tt1602098,8000000,5634828,Albert Nobbs,Glenn Close|Mia Wasikowska|Aaron Taylor-Johnso...,Rodrigo GarcÃ­a,A man with a secret. A woman with a dream.,Albert Nobbs struggles to survive in late 19th...,113,Drama,Chrysalis Films,12/21/2011,6.1,2011
1850,tt0183523,90000000,60874615,Mission to Mars,Gary Sinise|Tim Robbins|Don Cheadle|Connie Nie...,Brian De Palma,Let There Be Life.,When contact is lost with the crew of the firs...,114,Science Fiction,Spyglass Entertainment|The Jacobson Company|To...,3/10/2000,5.6,2000
1032,tt1336608,75000000,59418613,Rock of Ages,Tom Cruise|Alec Baldwin|Diego Boneta|Julianne ...,Adam Shankman,Nothin' but a good time,A small town girl and a city boy meet on the S...,123,Comedy|Drama|Music|Romance,New Line Cinema|Corner Store Entertainment,6/13/2012,5.9,2012
270,tt1028532,16000000,47801389,Hachi: A Dog's Tale,Richard Gere|Joan Allen|Jason Alexander|Cary-H...,Lasse HallstrÃ¶m,"A true story of faith, devotion and undying love.",A drama based on the true story of a college p...,93,Drama|Family,Grand Army Entertainment|Scion Films|Inferno D...,6/13/2009,7.7,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [224]:
answers = {} # создадим словарь для ответов

#Создаем столбец со значением прибыли 'profit'

data['profit'] = data['revenue']-data['budget']


from collections import Counter


#Создаем столбец с режиссерами в виде списка
data['director_list'] = data.director.str.split('|')
    
#Создаем столбец с актерами в виде списка
data['cast_list'] = data.cast.str.split('|')   

#Создаем столбец с жанрами в виде списка
data['genres_list'] = data.genres.str.split('|')    

#Создаем столбец с месяцем релиза
data['release_month'] = pd.to_numeric(data.release_date.str.split('/').str[0]) 

#Создаем столбец с кинокомпаниями в виде списка
data['production_companies_list'] = data.production_companies.str.split('|')    

#Создаем столбец с длиной названия
data['original_title_len'] = data.original_title.apply(lambda x: len(x))

#Создаем столбец с длиной описания фильма по количеству слов
data['overview_len'] = data.overview.apply(lambda x: len(x.split(' ')))


display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,director_list,cast_list,genres_list,release_month,production_companies_list,original_title_len,overview_len
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,...,6.5,2015,1363528810,[Colin Trevorrow],"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]",6,"[Universal Studios, Amblin Entertainment, Lege...",14,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,...,7.1,2015,228436354,[George Miller],"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Action, Adventure, Science Fiction, Thriller]",5,"[Village Roadshow Pictures, Kennedy Miller Pro...",18,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,...,6.3,2015,185238201,[Robert Schwentke],"[Shailene Woodley, Theo James, Kate Winslet, A...","[Adventure, Science Fiction, Thriller]",3,"[Summit Entertainment, Mandeville Films, Red W...",9,22
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,...,7.5,2015,1868178225,[J.J. Abrams],"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Action, Adventure, Science Fiction, Fantasy]",12,"[Lucasfilm, Truenorth Productions, Bad Robot]",28,26
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,...,7.3,2015,1316249360,[James Wan],"[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Action, Crime, Thriller]",4,"[Universal Pictures, Original Film, Media Righ...",9,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,...,6.6,2000,82299717,[Bryan Singer],"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...","[Adventure, Action, Science Fiction]",7,"[Twentieth Century Fox Film Corporation, Donne...",5,27
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,...,6.4,2000,-8444012,[Uli Edel],"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...","[Horror, Family, Foreign]",10,[New Line Cinema],18,75
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,...,4.0,2000,-40865180,[Des McAnuff],"[Rene Russo, Jason Alexander, Piper Perabo, Ra...","[Adventure, Animation, Action, Comedy, Family]",6,"[Universal Pictures, Capella International, KC...",36,58
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,...,5.2,2000,-3962091,[Diane Keaton],"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...","[Comedy, Drama]",2,"[Laurence Mark Productions, Columbia Pictures ...",10,24
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,...,5.2,2000,-9782502,[Mary Lambert],"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Thriller],7,[Warner Bros. Pictures],12,43

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [261]:
#+
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [6]:
data[data['budget']==data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
data.sort_values('budget', ascending=False).head(1)['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [262]:
#+
answers['2'] = 'Gods and Generals'

In [13]:
data[data['runtime']==data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [14]:
data.sort_values('runtime', ascending=False).head(1)['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [264]:
#+
answers['3'] = 'Winnie the Pooh'

In [12]:
data[data['runtime']==data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2

In [15]:
data.sort_values('runtime', ascending=True).head(1)['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [265]:
#+
answers['4'] = '110'

In [16]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [266]:
#+
answers['5'] = '107'

In [17]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [267]:
#+
answers['6'] = 'Avatar'

In [28]:
data[data['profit']==data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [268]:
#+
answers['7'] = 'The Lone Ranger'

In [29]:
data[data['profit']==data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [269]:
#+
answers['8'] = '1478'

In [36]:
len(data.query('profit > 0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [270]:
#+
answers['9'] = 'The Dark Knight'

In [234]:
data[(data.release_year == 2008) & \
     (data.profit == data[data.release_year == 2008].profit.max())]\
    .original_title

599    The Dark Knight
Name: original_title, dtype: object

## 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [271]:
#+
answers['10'] = 'The Lone Ranger'

In [235]:
data.query('2012 <= release_year <= 2014')\
    .sort_values('profit', ascending=True)\
    .head(1).original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [272]:
#+
answers['11'] = 'Drama'

In [87]:
pd.Series(data.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [80]:
genre_max = Counter()
for x in data.genres.str.split('|'):
    genre_max += Counter(x)
genre_max.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [273]:
#+
answers['12'] = 'Drama'

In [236]:
pd.Series(data[data['profit'] > 0].genres.str.split('|').sum()).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [274]:
#+
answers['13'] = 'Peter Jackson'

In [115]:
data.explode ('director_list') \
        .groupby(by='director_list').revenue.agg(['sum']) \
        .sort_values('sum',ascending=False).head(1)

                      sum
director_list
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [275]:
#+
answers['14'] = 'Robert Rodriguez'

In [240]:
data[data.genres.str.contains('Action', na=False)] \
    .explode ('director_list') \
    .groupby(by='director_list').imdb_id.agg(['count']) \
    .sort_values('count',ascending=False).head(1)

                  count
director_list
Robert Rodriguez      9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [276]:
#+
answers['15'] = 'Chris Hemsworth'

In [241]:
data[data.release_year == 2012].explode ('cast_list') \
        .groupby(by='cast_list').revenue.agg(['sum']) \
        .sort_values('sum',ascending=False).head(1)

                        sum
cast_list
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [277]:
#+
answers['16'] = 'Matt Damon'

In [129]:
data[data.budget > data.budget.mean()].explode ('cast_list') \
        .groupby(by='cast_list').imdb_id.agg(['count']) \
        .sort_values('count',ascending=False).head(1)

            count
cast_list
Matt Damon     18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [278]:
#+
answers['17'] = 'Action'

In [243]:
data[data.cast.str.contains('Nicolas Cage', na=False)] \
    .explode ('genres_list') \
    .groupby(by='genres_list').imdb_id.agg(['count']) \
    .sort_values('count',ascending=False).head(1)

             count
genres_list
Action          17

# 18. Самый убыточный фильм от Paramount Pictures

In [279]:
#+
answers['18'] = 'K-19: The Widowmaker'

In [244]:
data[data.production_companies.str.contains('Paramount Pictures', na=False)] \
    .sort_values('profit',ascending=True).original_title.head(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [280]:
#+
answers['19'] = '2015'

In [141]:
data.groupby(by='release_year').revenue.agg(['sum']) \
        .sort_values('sum',ascending=False).head(1)

                      sum
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [281]:
#+
answers['20'] = '2014'

In [245]:
data[data.production_companies.str.contains('Warner Bros', na=False)] \
    .groupby(by='release_year').revenue.agg(['sum']) \
    .sort_values('sum',ascending=False).head(1)

                     sum
release_year
2014          3243064519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [282]:
#+
answers['21'] = 'Сентябрь'

In [168]:
data.groupby(by='release_month').imdb_id.agg(['count']) \
    .sort_values('count',ascending=False).head(1)

               count
release_month
9                227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [283]:
#+
answers['22'] = '450'

In [164]:
len(data.query('5 < release_month < 9'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [284]:
#+
answers['23'] = 'Peter Jackson'

In [173]:
data.query('release_month <3 | release_month ==12')\
    .explode ('director_list') \
    .groupby(by='director_list').imdb_id.agg(['count']) \
    .sort_values('count',ascending=False).head(1)

               count
director_list
Peter Jackson      7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [285]:
#+
answers['24'] = 'Four By Two Productions'

In [249]:
data.explode('production_companies_list')\
    .groupby(by='production_companies_list').original_title_len.agg(['mean']) \
    .sort_values('mean',ascending=False).head(1)

                           mean
production_companies_list
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [286]:
#+
answers['25'] = 'Midnight Picture Show'

In [250]:
data.explode('production_companies_list')\
    .groupby(by='production_companies_list').overview_len.agg(['mean']) \
    .sort_values('mean',ascending=False).head(1)

                            mean
production_companies_list
Midnight Picture Show      175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [287]:
#+
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [251]:
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [289]:
#+
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 1

In [252]:
data.explode ('cast_list').merge(data.explode ('cast_list'), on = 'imdb_id')\
    .query('cast_list_x != cast_list_y')\
    .groupby(by = ['cast_list_x','cast_list_y']).imdb_id.agg(['count']) \
    .sort_values('count',ascending=False).head(1)

                               count
cast_list_x  cast_list_y
Rupert Grint Daniel Radcliffe      8

ВАРИАНТ 2

In [253]:

list_cast = []
for actors in data.cast_list:
    pairs = list(combinations(actors, 2))
    list_cast.extend(pairs)

cntr = Counter(list_cast)  
cntr.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [291]:
# в конце можно посмотреть свои ответы к каждому вопросу 
print(answers)

{'16': 'Matt Damon', '21': 'Сентябрь', '22': '450', '23': 'Peter Jackson', '1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': '110', '5': '107', '6': 'Avatar', '7': 'The Lone Ranger', '8': '1478', '9': 'The Dark Knight', '10': 'The Lone Ranger', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '17': 'Action', '18': 'K-19: The Widowmaker', '19': '2015', '20': '2014', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': 'Daniel Radcliffe, Rupert Grint'}

In [290]:
# и убедиться что ни чего не пропустил)
len(answers)

27